<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PRUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PRUI.Properties.Settings>
            <setting name="aaa" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="f1" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="f2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f4" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f5" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f6" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f7" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f8" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f9" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f10" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f11" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f12" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f13" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="f14" serializeAs="String">
                <value>10</value>
            </setting>
        </PRUI.Properties.Settings>
    </userSettings>
</configuration>